<style type="text/css">
  body {
    font-family: Arial, sans-serif;
    color: #333333;
    line-height: 1.6;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  h1,
  h2 {
    color: #2c3e50;
    margin-bottom: 10px;
  }

  .details-container {
    padding: 15px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .detail-value {
    color: #336699;
  }

  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .styled-table th,
  .styled-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }

  .styled-table th {
    background-color: #09e80d;
    color: #ffffff;
  }

  .styled-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
</style>


<h1>Hello, <%= @user.display_name %>!</h1>
<p>Your shipment: <%= @shipment.name%> has been successfully delivered to <%= @shipment.receiver_address %>. Thank you for using Truckin' Along!</p>

<h2>Shipment Details</h2>
<div class="details-container">
  <p><strong>Name:</strong> <span class="detail-value"><%= @shipment.name %></span></p>
  <p><strong>Sender Name:</strong> <span class="detail-value"><%= @shipment.sender_name %></span></p>
  <p><strong>Sender Address:</strong> <span class="detail-value"><%= @shipment.sender_address %></span></p>
  <p><strong>Receiver Name:</strong> <span class="detail-value"><%= @shipment.receiver_name %></span></p>
  <p><strong>Receiver Address:</strong> <span class="detail-value"><%= @shipment.receiver_address %></span></p>
  <p><strong>Weight:</strong> <span class="detail-value"><%= @shipment.weight %> kg</span></p>
  <p><strong>Length:</strong> <span class="detail-value"><%= @shipment.length %> cm</span></p>
  <p><strong>Width:</strong> <span class="detail-value"><%= @shipment.width %> cm</span></p>
  <p><strong>Height:</strong> <span class="detail-value"><%= @shipment.height %> cm</span></p>
</div>

<table class="styled-table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Departed From</th>
      <th>Arriving At</th>
      <th>Processing Date</th>
      <th>Delivered Date</th>
    </tr>
  </thead>
  <tbody>
    <% @shipment.delivery_shipments.each do |del_ship| %>
    <tr>
      <td><%= @shipment.company&.name || del_ship.delivery&.user.company.name %></td>
      <td><%= del_ship.sender_address %></td>
      <td><%= del_ship.receiver_address %></td>
      <td><%= del_ship.loaded_date&.strftime("%Y-%m-%d") %></td>
      <td><%= del_ship.delivered_date&.strftime("%Y-%m-%d") %></td>
    </tr>
    <% end %>
  </tbody>
</table>