<div class="page-header">
  <h3>My Customer Shipments</h3>
  <%= link_to 'Create New Shipment', new_shipment_path, class: 'button primary-button' %>
</div>
<% if @shipments.present? %>
<table class="styled-table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Status</th>
      <th>Name</th>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Weight</th>
      <th>Deliver By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |shipment| %>
    <tr>
      <td><%= shipment&.company&.name %></td>
      <td><%= shipment.status %></td>
      <td><%= shipment.name %></td>
      <td><%= shipment.sender_name %></td>
      <td><%= shipment.receiver_name %></td>
      <td><%= shipment.weight %></td>
      <td><%= shipment.deliver_by %></td>
      <td>
        <%= link_to 'Show', shipment, class: 'action-link' %> |
        <%= link_to 'Edit', edit_shipment_path(shipment), class: 'action-link' %> |
        <%= link_to 'Copy', copy_shipment_path(shipment), class: 'action-link' %> |
        <%= link_to 'Destroy', shipment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action-link danger-link' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="empty-state-container">
  <div class="empty-state-content">
    <h4>Seems a little quiet here...</h4>
    <p>Head over to the shipments page to get some shipments.... Truckin' Along!</p>
    <%= link_to "Create First Shipment", new_shipment_path, class: "primary-button" %>
  </div>
</div>
<% end %>