<h3>Completed Trips</h3>
<% if @deliveries.present? %>
<table class="styled-table">
  <thead>
    <tr>
      <th>Status</th>
      <th># of Shipments</th>
      <th>Current Volume</th>
      <th>Current Weight</th>
      <th>Actions</>
    </tr>
  </thead>
  <tbody id="my-shipments">
    <% @deliveries.each do |delivery| %>
    <tr>
      <td><%= delivery.status.gsub('_', ' ').capitalize %></td>
      <td><%= delivery.shipments.count%></td>
      <td><%= delivery.volume / 1_000_000 %> m<sup>3</sup></td>
      <td><%= delivery.weight %> kg</td>
      <td>
        <%= link_to 'Show', delivery, class: 'action-link' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="empty-state-container">
  <div class="empty-state-content">
    <h4>Seems a little quiet here...</h4>
    <p>Head over to the deliveries page to start.... Truckin' Along!</p>
    <%= link_to "Start First Delivery", start_deliveries_path, class: "primary-button" %>
  </div>
</div>
<% end %>