<h2 class="page-title">Edit <%= resource_name.to_s.humanize %></h2>

<% if resource.company %>
<div class="form-container">
  <h2 class="company-name"><%= resource.company.name %></h2>
  <p class="company-address"><%= resource.company.address %></p>
  <% if resource.admin? %>
  <div>
    <%= link_to 'Edit Company', edit_company_path(resource.company), class: "primary-button" %>
  </div>
  <% end %>
</div>
<br />
<% end %>

<div class="form-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'styled-form' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :first_name, "First Name", class: 'form-label' %>
    <%= f.text_field :first_name, class: 'form-input', autocomplete: "given-name" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, "Last Name", class: 'form-label' %>
    <%= f.text_field :last_name, class: 'form-input', autocomplete: "family-name" %>
  </div>

  <div class="form-group">
    <%= f.label :home_address, class: 'form-label'  %>
    <%= f.text_field :home_address, class: "form-input" %>
  </div>

  <% unless resource.role == "customer" %>
  <div class="form-group">
    <%= f.label :drivers_license, "Driver's License", class: 'form-label' %>
    <%= f.text_field :drivers_license, class: 'form-input' %>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, class: 'form-input', autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div class="info-message">
    Currently waiting confirmation for: <%= resource.unconfirmed_email %>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, class: 'form-label' %>
    <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, class: 'form-input', autocomplete: "new-password" %>
    <% if @minimum_password_length %>
    <small><em><%= @minimum_password_length %> characters minimum</em></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm Password", class: 'form-label' %>
    <%= f.password_field :password_confirmation, class: 'form-input', autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, "Current Password", class: 'form-label' %>
    <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, class: 'form-input', autocomplete: "current-password" %>
  </div>

  <div class="details-actions">
    <%= f.submit "Update", class: "primary-button" %>
  </div>
  <% end %>
</div>

<div class="danger-section">
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "danger-button" %></p>
</div>

<div class="details-actions">
  <%= link_to "Back", :back, class: "secondary-button" %>
</div>