<div id="<%= dom_id truck %>">
  <p>
    <strong>Make:</strong>
    <%= truck.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= truck.model %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= truck.year %>
  </p>

  <p>
    <strong>Mileage:</strong>
    <%= truck.mileage %>
  </p>

</div>
