<div class="page-header">
  <h1 class="page-title">Truck Details</h1>
  <%= link_to 'Back', admin_index_path, class: 'button secondary-button' %>
</div>

<div class="details-container">
  <p><strong>Make:</strong> <span class="detail-value"><%= @truck.make %></span></p>
  <p><strong>Model:</strong> <span class="detail-value"><%= @truck.model %></span></p>
  <p><strong>Year:</strong> <span class="detail-value"><%= @truck.year %></span></p>
  <p><strong>Mileage:</strong> <span class="detail-value"><%= @truck.mileage %> miles</span></p>
  <p><strong>VIN:</strong> <span class="detail-value"><%= @truck.vin %></span></p>
  <p><strong>License Plate:</strong> <span class="detail-value"><%= @truck.license_plate %></span></p>
  <p><strong>Haul Weight:</strong> <span class="detail-value"><%= @truck.weight %> kg</span></p>
  <p><strong>Length of Bed:</strong> <span class="detail-value"><%= @truck.length %> cm</span></p>
  <p><strong>Width of Bed:</strong> <span class="detail-value"><%= @truck.width %> cm</span></p>
  <p><strong>Height of Bed:</strong> <span class="detail-value"><%= @truck.height %> cm</span></p>
</div>

<div class="details-actions">
  <%= link_to 'Edit', edit_truck_path(@truck), class: 'button primary-button' %>
</div>

<div data-controller="tabs">
  <div class="tab-container">
    <button class="tab-button active" data-tab="deliveries" data-tabs-target="tab" data-action="click->tabs#showTab">Deliveries</button>
    <button class="tab-button" data-tab="forms" data-tabs-target="tab" data-action="click->tabs#showTab">Forms</button>
  </div>
  <div id="deliveries" class="tab-content active" data-tabs-target="content">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Status</th>
          <th>Delivery Date</th>
          <th># of Shipments</th>
          <th>Delivery Volume</th>
          <th>Delivery Weight</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @truck.deliveries.each do |delivery| %>
        <tr>
          <td><%= delivery.status.gsub('_', ' ').capitalize %></td>
          <td><%= delivery.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= delivery.shipments.count %></td>
          <td><%= delivery.volume / 1_000_000 %> m<sup>3</sup> / <%= @truck.volume / 1_000_000 %> m<sup>3</sup></td>
          <td><%= delivery.weight %> kg / <%= @truck.weight %> kg</td>
          <td>
            <%= link_to "View Delivery", delivery_path(delivery), class: "btn btn-primary" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div data-controller="show-forms">
    <!-- Forms Table -->
    <div id="forms" class="tab-content" data-tabs-target="content">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Form ID</th>
            <th>Form Type</th>
            <th>Title</th>
            <th>Created At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @truck.forms.each do |form| %>
          <tr>
            <td><%= form.id %></td>
            <td><%= form.form_type.humanize %></td>
            <td><%= form.title.humanize %></td>
            <td><%= form.created_at.strftime("%Y-%m-%d") %></td>
            <td>
              <%= button_tag "View Form", 
              class: "view-form-btn", 
              data: { 
                action: "click->show-forms#open",
                form_id: form.id,
              } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="form-modal" class="modal hidden">
      <div class="modal-container">
        <span data-action="click->show-forms#close" class="close">&times;</span>
        <div id="modal-body"></div>
      </div>
    </div>
  </div>
</div>