<div class="form-container">
  <h2 class="page-title">Resend Unlock Instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }, class: 'styled-form') do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-input' %>
    </div>

    <div class="details-actions">
      <%= f.submit "Resend unlock instructions", class: 'primary-button' %>
    </div>
  <% end %>

  <div class="auth-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
