<h1>Deliveries</h1>

<% if @unassigned_shipments.any? %>
<div style="height: 500px; width: 100%;" data-controller="show-truck-loading-map" data-show-truck-loading-map-shipments-json-value='<%= raw @unassigned_shipments.to_json(only: [:id], methods: [:current_sender_latitude, :current_sender_longitude, :current_receiver_latitude, :current_receiver_longitude, :current_sender_address, :current_receiver_address]) %>'>
</div>
<h2>Truck Loading</h2>
<div>
  <%= form_with url: assign_shipments_to_truck_shipments_path, method: :post do |f| %>

  <div class="form-group">
    <%= f.label :truck_id, 'Truck', class: 'form-label' %>
    <%= f.collection_select :truck_id, @trucks, :id, ->(truck) { truck.display_name.to_s }, 
    { prompt: "Please select a truck" }, 
    { class: 'form-select', title: "Choose a truck" } %>
  </div>

  <table class="styled-table">
    <thead>
      <tr>
        <th></th>
        <th>Status</th>
        <th>Name</th>
        <th>Sender Address</th>
        <th>Receiver Address</th>
        <th>Weight</th>
        <th>Deliver By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @unassigned_shipments.each do |shipment| %>
      <tr>
        <td><%= check_box_tag 'shipment_ids[]', shipment.id %></td>
        <td><%= shipment.status %></td>
        <td><%= shipment.name %></td>
        <td><%= shipment.current_sender_address %></td>
        <td><%= shipment.current_receiver_address %></td>
        <td><%= shipment.weight %></td>
        <td><%= shipment.deliver_by %></td>
        <td>
          <%= link_to 'Show', shipment, class: 'action-link' %> |
          <%= link_to 'Edit', edit_shipment_path(shipment), class: 'action-link' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.submit "Add to Truck", class: "button primary-button" %>

  <% end %>
</div>
<% else %>
<p>No unassigned shipments available.</p>
<% end %>