<% if !@delivery.active? %>
<% if @delivery.completed? %>
<div class="notice">
  Delivery is complete. No further edits are possible
</div>
<% else %>
<div class="alert">
  Delivery has been cancelled. No further edits are possible
</div>
<% end %>
<% end %>
</div>
<br />
<div data-controller="show-pre-delivery">
  <div class="page-header">
    <h1 class="page-title">Delivery Details - <%= @delivery.status.humanize %></h1>
    <% if @delivery.can_be_closed? %>
    <div data-controller="complete-delivery">
      <%= form_with url: close_delivery_path(@delivery), method: :post, data: { complete_delivery_target: "form" } do |f| %>
      <!-- Modal Component -->
      <div class="modal-overlay" data-complete-delivery-target="modal">
        <div class="truck-load-modal-content">
          <h3>Confirmation</h3>
          <p>Mark this delivery as complete?</p>

          <div class="truck-load-modal-buttons">
            <button type="button" class="button primary-button" data-complete-delivery-target="confirmBtn" data-action="click->complete-delivery#showOdometerInput">
              Yes
            </button>

            <button type="button" class="button secondary-button" data-complete-delivery-target="cancelBtn" data-action="click->complete-delivery#hideModal">
              No
            </button>
          </div>

          <div class="address-container" data-complete-delivery-target="odometerContainer">
            <label for="odometer-reading">Odometer Reading (e.g., 148723):</label>
            <input type="number" min="0" step="1" id="odometer-reading" class="form-control" data-complete-delivery-target="odometerInput">
            <button type="button" class="button primary-button" data-action="click->complete-delivery#submitWithOdometer">
              Submit
            </button>

            <button type="button" class="button secondary-button" data-action="click->complete-delivery#hideModal">
              Cancel
            </button>
          </div>
        </div>
      </div>

      <%= button_tag "Mark Complete", class: "button primary-button", data: { action: "click->complete-delivery#showModal" } %>
      <% end %>
    </div>

    <% end %>
    <% if !@delivery.forms.empty? %>
    <button class="action-link" data-action="click->show-pre-delivery#open">
      Pre-delivery Inspection
    </button>
    <% end %>
    <%= link_to 'Back', start_deliveries_path, class: 'button secondary-button' %>
  </div>

  <% if !@delivery.forms.empty? %>
  <div id="initiate-modal" class="modal hidden">
    <%= render 'forms/completed_pre_delivery_inspection_form', form: @delivery.forms.first%>
  </div>
  <% end %>

  <% if !@open_shipments.empty? %>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Name</th>
        <% unless @delivery.in_progress? %>
        <th>Sender Address</th>
        <% end %>
        <th>Receiver Address</th>
        <th>Weight</th>
        <th>Deliver By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @open_shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.status %></td>
        <td><%= shipment.name %></td>
        <% unless @delivery.in_progress? %>
        <td><%= shipment.sender_address %></td>
        <% end %>
        <td><%= shipment.receiver_address %></td>
        <td><%= shipment.weight %></td>
        <td><%= shipment.deliver_by %></td>
        <td>
          <% if @delivery.in_progress? && @shipment_status%>
          <%= link_to 'Quick Close', close_shipment_path(shipment), 
            class: 'action-link', 
            method: :post, 
            data: { confirm: "Mark this shipment as #{@shipment_status.name}?" } %> |
          <% end %>
          <%= link_to 'Show', shipment, class: 'action-link' %> |
          <%= link_to 'Edit', edit_shipment_path(shipment), class: 'action-link' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <% end %>

  <% if !@delivered_shipments.empty? %>
  <h3>Closed Shipments</h3>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Sender Address</th>
        <th>Receiver Address</th>
        <th>Weight</th>
        <th>Deliver By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @delivered_shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.status %></td>
        <td><%= shipment.name %></td>
        <td><%= shipment.sender_address %></td>
        <td><%= shipment.receiver_address %></td>
        <td><%= shipment.weight %></td>
        <td><%= shipment.deliver_by %></td>
        <td>
          <%= link_to 'Show', shipment, class: 'action-link' %> |
          <%= link_to 'Edit', edit_shipment_path(shipment), class: 'action-link' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>