<% if !@delivery.active? %>
<% if @delivery.completed? %>
<div class="notice">
  Delivery is complete. No further edits are possible
</div>
<% else %>
<div class="alert">
  Delivery has been cancelled. No further edits are possible
</div>
<% end %>
<% end %>
</div>
<br />
<div data-controller="show-pre-delivery">
  <div class="page-header">
    <h1 class="page-title">Delivery Details</h1>
    <% if @delivery.can_be_closed? %>
    <%= link_to "Mark Complete", close_delivery_path(@delivery), class: 'button primary-button', method: :post, data: { confirm: 'All shipments are successfully closed?' } %>
    <% end %>
    <button class="action-link" data-action="click->show-pre-delivery#open">
      Pre-delivery Inspection
    </button>
    <%= link_to 'Back', start_deliveries_path, class: 'button secondary-button' %>
  </div>

  <%= render 'forms/show_completed_inspection', form: @delivery.forms.first%>

  <table class="styled-table">
    <thead>
      <tr>
        <th>Company</th>
        <th>Status</th>
        <th>Name</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Weight</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @delivery.shipments.each do |shipment| %>
      <tr>
        <td><%= shipment&.company&.name %></td>
        <td><%= shipment.status %></td>
        <td><%= shipment.name %></td>
        <td><%= shipment.sender_name %></td>
        <td><%= shipment.receiver_name %></td>
        <td><%= shipment.weight %></td>
        <td>
          <%= link_to 'Quick Close', close_shipment_path(shipment), 
            class: 'action-link', 
            method: :post, 
            data: { confirm: 'Was this shipment successfully delivered?' } %> |
          <%= link_to 'Show', shipment, class: 'action-link' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>