<h1>And we're off!</h1>

<h2>My active delivery</h2>
<% if @active_delivery %>
<h4>Truck: <%= @active_delivery.truck&.display_name %></h4>
<h4>Shipments: <%= @active_delivery.shipments.count %></h4>
<p>
  <%= link_to "View Delivery", delivery_path(@active_delivery), class: "button secondary-button" %>
</p>
<% else %>
<p>Not currently on a delivery.</p>
<% end %>
<div data-controller="modal">
  <%= render 'pre_delivery_inspection_form'%>
  <h2>All trucks</h2>
  <% if @trucks.any? %>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Name</th>
        <th># of Shipments</th>
        <th>Current Volume</th>
        <th>Current Weight</th>
        <th class="center-text">Available?</th>
        <th>Actions</>
      </tr>
    </thead>
    <tbody id="my-shipments">
      <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.display_name %></td>
        <td><%= truck.current_shipments.count%></td>
        <td><%= truck.current_volume / 1_000_000 %> m<sup>3</sup> / <%=truck.volume / 1_000_000%>m<sup>3</sup></td>
        <td><%= truck.current_weight %> kg / <%=truck.weight%> kg</td>
        <td class="center-text">
          <% if truck.available? %>
          ✔️
          <% else %>
          ❌
          <% end %>
        </td>
        <td>
          <button class="action-link" data-action="click->modal#open" data-modal-truck-id-value="<%= truck.id %>">
            Initiate
          </button>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <p>You don't have any trucks.</p>
  <% end %>
</div>