<div id="<%= dom_id shipment %>">
  <p>
    <strong>Name:</strong>
    <%= shipment.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= shipment.status %>
  </p>

  <p>
    <strong>Sender name:</strong>
    <%= shipment.sender_name %>
  </p>

  <p>
    <strong>Sender address:</strong>
    <%= shipment.sender_address %>
  </p>

  <p>
    <strong>Receiver name:</strong>
    <%= shipment.receiver_name %>
  </p>

  <p>
    <strong>Receiver address:</strong>
    <%= shipment.receiver_address %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= shipment.weight %>
  </p>

  <p>
    <strong>Boxes:</strong>
    <%= shipment.boxes %>
  </p>

  <p>
    <strong>Truck:</strong>
    <%= shipment.truck_id %>
  </p>

</div>
