<div class="page-header">
  <h1 class="page-title">Shipments</h1>
  <%= link_to 'New Shipment', new_shipment_path, class: 'button primary-button' %>
</div>

<table class="styled-table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Status</th>
      <th>Name</th>
      <th>Reciever Name</th>
      <th>Receiver Address</th>
      <th>Deliver By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |shipment| %>
    <tr>
      <td><%= shipment&.company&.name %></td>
      <td><%= shipment.status %></td>
      <td><%= shipment.name %></td>
      <td><%= shipment.receiver_name %></td>
      <td><%= shipment.receiver_address %></td>
      <td><%= shipment.deliver_by %></td>
      <td>
        <%= link_to 'Show', shipment, class: 'action-link' %> |
        <%= link_to 'Edit', edit_shipment_path(shipment), class: 'action-link' %> |
        <%= link_to 'Copy', copy_shipment_path(shipment), class: 'action-link' %> |
        <%= link_to 'Destroy', shipment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action-link danger-link' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>