<div class="page-header">
  <h1 class="page-title">Shipment Details</h1>
  <%= render 'back_button', shipment: @shipment%>
</div>

<%= tag.div id: "shipment-map",
            data: {
              controller: "show-shipment-map",
              show_shipment_map_sender_lat_value: @shipment.sender_latitude,
              show_shipment_map_sender_lng_value: @shipment.sender_longitude,
              show_shipment_map_receiver_lat_value: @shipment.receiver_latitude,
              show_shipment_map_receiver_lng_value: @shipment.receiver_longitude,
              show_shipment_map_sender_address_value: @shipment.sender_address,
              show_shipment_map_receiver_address_value: @shipment.receiver_address,
              show_shipment_map_additional_coordinates_value: prep_delivery_shipments_json(@shipment)
            },
            style: "height: 500px; width: 100%;" %>

<br />

<div class="details-container">
  <p><strong>Name:</strong> <span class="detail-value"><%= @shipment.name %></span></p>
  <p><strong>Status: </strong>
    <span class="detail-value"><%= @shipment.shipment_status_id ? @shipment.status : "No Current Status"%></span>
  </p>
  <p><strong>Sender Name:</strong> <span class="detail-value"><%= @shipment.sender_name %></span></p>
  <p><strong>Sender Address:</strong> <span class="detail-value"><%= @shipment.sender_address %></span></p>
  <p><strong>Receiver Name:</strong> <span class="detail-value"><%= @shipment.receiver_name %></span></p>
  <p><strong>Receiver Address:</strong> <span class="detail-value"><%= @shipment.receiver_address %></span></p>
  <p><strong>Weight:</strong> <span class="detail-value"><%= @shipment.weight %> kg</span></p>
  <p><strong>Length:</strong> <span class="detail-value"><%= @shipment.length %> cm</span></p>
  <p><strong>Width:</strong> <span class="detail-value"><%= @shipment.width %> cm</span></p>
  <p><strong>Height:</strong> <span class="detail-value"><%= @shipment.height %> cm</span></p>
  <p><strong>Delivery By:</strong> <span class="detail-value"><%= @shipment.deliver_by %></span></p>
  <% if @shipment.truck && !@current_user.customer? %>
  <p><strong>Truck:</strong> <span class="detail-value"><%= link_to @shipment.truck.display_name, @shipment.truck %></span></p>
  <% end %>
</div>

<div class="details-actions">
  <%= link_to 'Edit Shipment', edit_shipment_path(@shipment), class: 'button primary-button' %>
  <% if @current_user.customer? %>
  <%= link_to 'Copy Shipment', copy_shipment_path(@shipment), class: 'button warning-button' %>
  <% unless @shipment.claimed? %>
  <%= link_to 'Destroy Shipment', @shipment, method: :delete, class: 'button danger-button', data: { confirm: 'Are you sure?' } %>
  <% end %>
  <% end %>

</div>

<table class="styled-table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Departed From</th>
      <th>Arriving At</th>
      <th>Processing Date</th>
      <th>Delivered Date</th>
    </tr>
  </thead>
  <tbody>
    <% @shipment.delivery_shipments.order(created_at: :desc).each do |del_ship| %>
    <tr>
      <td>
        <% company = @shipment.company || del_ship.delivery&.user&.company %>
        <% if company.present? %>
        <%= link_to company.name, company_path(company), class: "company-link" %>
        <% if company.phone_number.present? %>
        <span style="cursor: help;" title="Phone: <%= company.phone_number %>">
          &#9432;
        </span>
        <% end %>
        <% else %>
        N/A
        <% end %>
      </td>
      <td><%= del_ship.sender_address %></td>
      <td><%= del_ship.receiver_address %></td>
      <td><%= del_ship.loaded_date&.strftime("%Y-%m-%d") %></td>
      <td><%= del_ship.delivered_date&.strftime("%Y-%m-%d") %></td>
    </tr>
    <% end %>
  </tbody>
</table>