<div class="page-header">
  <h1 class="page-title">Shipment Details</h1>
  <%= render 'back_button', shipment: @shipment%>
</div>

<div id="shipment-map" data-controller="show-shipment-map" data-show-shipment-map-sender-lat-value="<%= @shipment.sender_latitude %>" data-show-shipment-map-sender-lng-value="<%= @shipment.sender_longitude %>" data-show-shipment-map-receiver-lat-value="<%= @shipment.receiver_latitude %>" data-show-shipment-map-receiver-lng-value="<%= @shipment.receiver_longitude %>" data-show-shipment-map-sender-address-value="<%= @shipment.sender_address %>" data-show-shipment-map-receiver-address-value="<%= @shipment.receiver_address %>" data-show-shipment-map-additional-coordinates-value='<%= prep_delivery_shipments_json(@shipment).html_safe %>' style="height: 500px; width: 100%;">
</div>
<br />

<div class="details-container">
  <p><strong>Name:</strong> <span class="detail-value"><%= @shipment.name %></span></p>
  <p><strong>Status: </strong>
    <span class="detail-value"><%= @shipment.shipment_status_id ? @shipment.status : "No Current Status"%></span>
  </p>
  <p><strong>Sender Name:</strong> <span class="detail-value"><%= @shipment.sender_name %></span></p>
  <p><strong>Sender Address:</strong> <span class="detail-value"><%= @shipment.sender_address %></span></p>
  <p><strong>Receiver Name:</strong> <span class="detail-value"><%= @shipment.receiver_name %></span></p>
  <p><strong>Receiver Address:</strong> <span class="detail-value"><%= @shipment.receiver_address %></span></p>
  <p><strong>Weight:</strong> <span class="detail-value"><%= @shipment.weight %> kg</span></p>
  <p><strong>Length:</strong> <span class="detail-value"><%= @shipment.length %> cm</span></p>
  <p><strong>Width:</strong> <span class="detail-value"><%= @shipment.width %> cm</span></p>
  <p><strong>Height:</strong> <span class="detail-value"><%= @shipment.height %> cm</span></p>
  <% if @shipment.truck && !@current_user.customer? %>
  <p><strong>Truck:</strong> <span class="detail-value"><%= link_to @shipment.truck.display_name, @shipment.truck %></span></p>
  <% end %>
</div>

<div class="details-actions">
  <%= link_to 'Edit Shipment', edit_shipment_path(@shipment), class: 'button primary-button' %>
  <%= link_to 'Destroy Shipment', @shipment, method: :delete, class: 'button danger-button', data: { confirm: 'Are you sure?' } %>
</div>

<table class="styled-table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Departed From</th>
      <th>Arriving At</th>
      <th>Processing Date</th>
      <th>Delivered Date</th>
    </tr>
  </thead>
  <tbody>
    <% @shipment.delivery_shipments.each do |del_ship| %>
    <tr>
      <td><%= @shipment.company&.name || del_ship.delivery&.user.company.name %></td>
      <td><%= del_ship.sender_address %></td>
      <td><%= del_ship.receiver_address %></td>
      <td><%= del_ship.loaded_date&.strftime("%Y-%m-%d") %></td>
      <td><%= del_ship.delivered_date&.strftime("%Y-%m-%d") %></td>
    </tr>
    <% end %>
  </tbody>
</table>