<h1>Create New Driver</h1>

<%= form_with model: @driver, url: driver_managements_path, local: true do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>
      <ul>
        <% @driver.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, "First Name"%>
    <%= f.text_field :first_name, class: 'form-input', autocomplete: "given-name" %>
  </div>

  <div class="field">
    <%= f.label :last_name, "Last Name", class: 'form-label' %>
    <%= f.text_field :last_name, class: 'form-input', autocomplete: "family-name" %>
  </div>

  <div class="field">
    <%= f.label :drivers_license, "Driver's License" %>
    <%= f.text_field :drivers_license %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Create Driver" %>
  </div>
<% end %>
